*{
    width: 100%;
}

body{
    background-color: black;
}

.presentacion{
    color:white
}

.card-body{
    background-color: #00ffff;
}

.formulario{
    color:white
}

.enviar{
    color: white;
}