/* *{
    width: 100%;
} */

body{
    background-color: black;
}

.presentacion{
    color:white
}


.formulario{
    color:white
}

.enviar{
    color: white;
}

.navbar{
    position: fixed;
    width: 100vw;
    z-index: 2;
}

html{
    scroll-behavior: auto !important;
}

.fuente{
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.fa-brands{
    color: white;
}

/* .btn-info{
    background-color: #29A4AC;
    border-color: #29A4AC;
} */
